<div class="well">
  <div class="media">
    <%= link_to item, class: "pull-left" do %>
      <img class="media-object img-thumbnail" src="<%=item.image_url%>" width="200">
    <% end %>
    <div class="media-body">
      <h2 class="media-heading"> <%= item.title %> </h4>
      <h3 class="media-heading"> ₩ <%= number_to_currency item.price, format: "%n", precision: 0 %> </h3>
      <%= simple_format item.description %>        
    </div>
  </div>
</div>